# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

################################################################################################################

# macOS
.DS_Store

# IDE: Goland
.idea/

# IDE: VS Code
.vscode/
.history/

# go mod
vendor/

bin/
tmp/
*.log
*.pb.go
*.pb.micro.go
.env*

# artifacts from pprof tooling
*.prof

# goreleaser artifacts
dist/
translate_all_readme.sh
format_lines.py
